@{
    ViewBag.Title = "ModernDev";
    Layout = "~/mvc/views/shared/_ng2layout.cshtml";
}
<script src="/ng2app-public.min.js" asp-append-version="true"></script>

<br /><br />
<div><h1>Public</h1></div>
<br /><br />
<a href="/Dashboard">Dashboard</a>
<a href="/Admin">Admin</a>