@{
    ViewBag.Title = "ModernDev";
    Layout = "~/views/shared/_ng2layout.cshtml";
}
<script src="/ng2app-admin.min.js" asp-append-version="true"></script>

<div><h1>Administration</h1></div>
<br /><br />
<a href="/Dashboard">Dashboard</a>
<a href="/Account/Logout">Logout</a>
