@{
    ViewBag.Title = "ModernDev";
    Layout = "~/mvc/views/shared/_ng2layout.cshtml";
}
<script src="/ng2app-dashboard.min.js" asp-append-version="true"></script>

<div><h1>Dashboard</h1></div>
<br /><br />
<a href="/Admin">Admin</a>
<a href="/Account/Logout">Logout</a>
